{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>

		<link rel="stylesheet" href="{% static 'css/style.css' %}" />

		<script src="{% static 'js/main.js' %}" defer></script>
		<script src="{% static 'js/menuBtn.js' %}" defer></script>
	</head>
	<body>
		{% block content %}
		<div class="wrapper">
			<header class="header">
				<div class="container">
					<nav class="nav">
						<div class="tabs__btn">
							<button class="tabs__btn-item tabs__btn-item--active" data-button="content-1">1</button>
							<button class="tabs__btn-item" data-button="content-2">2</button>
							<button class="tabs__btn-item" data-button="content-3">3</button>
							<button class="tabs__btn-item" data-button="content-4">3</button>
						</div>
					</nav>
				</div>
			</header>

			<main class="main">
				<section class="content">
					<div class="tabs__content">
						<div
							class="tabs__content-item tabs__content-item--active"
							id="content-1"
						>
							1
						</div>
						<div class="tabs__content-item" id="content-2">2</div>
						<div class="tabs__content-item" id="content-3">3</div>
						<div class="tabs__content-item" id="content-4">4</div>
					</div>
				</section>
			</main>
		</div>
		{% endblock %}
	</body>
</html>
